@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: #29323c;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.color-list li {
  margin: 10px;
}

.color-btn {
  background-color: transparent;
  border: 2px solid #c0c0c0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.color-btn:hover {
  border: 2px solid #16d9e3;
  color: #16d9e3;
}

.main {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}
